<html>

<head>
  <title>Sacred Soul Spectrum</title>
  <link rel="stylesheet" href="semantic.css" type="text/css">
  <link rel="stylesheet" href="base.css" type="text/css">
</head>

  <div class="ui inverted vertical masthead center aligned segment raised">
    <div class="ui container">
      <div class ="ui text container">
        <h1 class="ui inverted header">Coming Soon</h1>
        <button class="ui inverted button">Contact Us!</button>
      </div>
      <div class="ui grey inverted stripe segment">
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</body>

</html>
